/* General styles */
body {
    font-family: roboto;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Styles for reference sections */
  .reference {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .reference h2 {
    margin-top: 0;
  }
  